
@charset "utf-8";

@import url("nevis.css");

html,
button,
input,
select,
textarea {
    color: #f0f0f0;
}

body {
    background: url('broken_noise.png') #1c1c1c;
    line-height: 1.4;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: "Nevis CC";
}

h1
{
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 0.1ex;
}

h1 span
{
    display: none;
}

h1:before
{
    content: "conven\0f0001i\0f0000on";
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 36em) {
    body
    {
        font-size: 2em;
    }
}


@media only screen and (min-width: 60em) {
    body
    {
        font-size: 3em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
